@model IEnumerable<ConsoleApp.Models.ProductDto>

@{
    ViewData["Title"] = "Index";
}

<table class="table table-bordered m-2">
    <thead>
        <tr>
            <th>
                عنوان
            </th>
            <th>
                قیمت پایه
            </th>
            <th>
                تعداد در انبار
            </th>
            <th>
                توضیحات
            </th>
            <th>
                نام شرکت/برند
            </th>
            <th>
                تایید/عدم تایید
            </th>
            <th>
                مزایده
            </th>
            <th>
                فعال/غیرفعال
            </th>
            <th>
                عملیات
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BasePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Availability)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsConfirm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAuction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-Id="@item.Id">حذف کالا</a>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-Id="@item.Id">ویرایش کالا</a>
                </td>
            </tr>
        }
    </tbody>
</table>
