@model List<WebSite.EndPoint.Models.ViewModels.ProductGetVM>

@{
    ViewData["Title"] = "Home Page";
}
<style>
    h1 {
        font-family: Vazir;
        color: deepskyblue;
       text-align: center
    }
   
</style>
@if (ViewBag.Message != null)
{
    <div class="m-5 pt-5 pb-5">
        <h1 class="alert alert-success text-center">@ViewBag.Message</h1>
    </div>
}

<div class="row m-4 justify-content-center flex flex-wrap">
    <h1 id="flashing-text">جدیدترین ها </h1>
    @foreach (var product in Model)
    {
        <div class="col-md-4 ">
            <a asp-controller="Booth" asp-action="ProductDetail" asp-route-boothId="@product.BoothId" asp-route-productId="@product.Id">
                <!-- اضافه کردن دیو با کلاس col-md-4 برای قرار دادن سه کارت در هر ردیف -->
                <div class="card component-card_2 text-center mt-3">
                    <img src="@product.ImageUrl" class="img-fluid" style="height: 250px"/>
                    <div class="card-body">
                        <h4 style="font-family: Vazir;">@product.Name</h4>

                    </div>

                    <div class="card-footer">

                        <p>قیمت : @product.BasePrice ریال</p>
                    </div>

                </div>
            </a>
            
        </div>
    }
</div>
