@model IEnumerable<WebSite.EndPoint.Models.ViewModels.CartGetVM>

@{
    ViewData["Title"] = "MyCartsUnRegistered";
    Layout = "/Areas/Customer/Views/Shared/_Layout.cshtml";
}
<h4 class=" m-5 text-center" style="color: blue"> سبد خریدهای پرداخت نشده</h4>
@if (ViewBag.deleteMessage!=null)
{
    <div class="alert alert-danger mx-5 text-center " id="my-heading">
        <p>
            @ViewBag.deleteMessage
        </p>
    </div>
}
<div class="row">

    <div class="table-responsive m-5 col-10">
        <table class="table table-bordered table-hover table-condensed mb-4">
            <thead>
                <tr>
                    <th>
                        مجموع مبلغ
                    </th>
                    <th>
                        تعداد
                    </th>
                    <th>
                        نام غرفه ی فروشنده
                    </th>
                    <th>
                        نام محصولات
                    </th>
                    <th>
                        عملیات
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPrices)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuantityFromOne)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BoothName)
                        </td>
                        <td>
                            @foreach (var product in item.ProductsNames)
                            {
                                @Html.DisplayFor(modelItem => product) <i>,</i>
                            }

                        </td>
                        <td>
                            <a class="btn btn-success" asp-action="DoRegisteringCart" asp-route-cartId="@item.Id">پرداخت </a>
                            <a class="btn btn-primary" asp-action="GetProductsInOpenCart" asp-route-cartId="@item.Id"> جزییات سبد </a>
                            <a class="btn btn-danger" asp-action="DeleteOprnCart" asp-route-cartId="@item.Id">حذف سبد خرید</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
@section scripts
    {

    <script>
        setTimeout(function () {
            document.getElementById("my-heading").style.display = "none";
        }, 4000); // مقدار 2000 برابر با دو ثانیه است.
    </script>

}