@model IEnumerable<ConsoleApp.Models.ProductDto>

@{
    ViewData["Title"] = "ConfirmProducts";
}




<table class="table table-bordered m-2">
    <thead>
        <tr>
            
            <th>
               عنوان کالا
            </th>
            <th>
              قیمت پایه
            </th>

            <th>
               تعداد قابل فروش
            </th>
            <th>
               توضیحات
            </th>
            <th>
               نام فروشنده
            </th>
        
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @item.Name
            </td>
            <td>
                @item.BasePrice
            </td>
            
           
            <td>
                @item.Availability
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.SellerName
            </td>
            
            <td>

                    <a class="btn btn-primary" asp-action="ToConfirmingProduct" asp-route-porductId="@item.Id">تایید کالا</a>
            </td>
        </tr>
}
    </tbody>
</table>
