@model List<WebSite.EndPoint.Models.ViewModels.ProductForCustomerVM>
@{
    ViewData["Title"] = "EnterToBooth";
    var name = Model.Select(n => n.BoothName).FirstOrDefault();
}
@if (ViewBag.Message != null)
{   
    <div id="my-heading" class="alert alert-primary text-center m-1">
        <p>@ViewBag.Message</p>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-md-12 section-title text-center mt-2">
            <h2 style="font-family: Vazir;color: " class="m-5">به غرفه ی @name خوش آمدید</h2>
        </div>
    </div>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-3 col-sm-6">
                <a asp-controller="Booth" asp-action="ProductDetail" asp-route-boothId="@product.BoothId" asp-route-productId="@product.Id">
                    <div class="product-item border">
                        <div class="product-thumb">
                            <img src="@product.ImagesUrls.FirstOrDefault()" class="img-fluid" style="height: 200px; width: auto;" />
                        </div>
                        <div class="product-content mx-1">
                            <span class="price" style="font-family: Vazir;">@product.Name</span>
                            <span class="price" style="font-family: Vazir;"> قیمت : @product.BasePrice</span>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>



@section scripts
{
  
    <script>
        setTimeout(function() {
            document.getElementById("my-heading").style.display = "none";
        }, 2000); // مقدار 2000 برابر با دو ثانیه است.
    </script>

}
