@model List<WebSite.EndPoint.Areas.Seller.Models.AuctionGetVM>
@{
    ViewData["Title"] = "کالا ها";
}
<div class="m-5">
    <a asp-area="Seller" asp-controller="Product" asp-action="Create" type="button" class="btn btn-secondary">ثبت کالا جدید</a>
</div>
<div class="row">
    <div class="table-responsive m-5 col-10">
        <table class="table table-bordered table-hover table-condensed mb-4">
            <thead>
                <tr>
                    <th>
                        نام کالا
                    </th>
                    <th>
                        زمان شروع
                    </th>
                    <th>
                        زمان پایان
                    </th>
                    <th>
                        بالاترین پیشنهاد
                    </th>
                    <th>
                        جزییات
                    </th>

                    <th class="text-center">عملیات</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>

                            @item.ProductName
                        </td>
                        <td>
                            @item.StartDeadTime
                        </td>
                        <td>
                            @item.EndDeadTime
                        </td>
                        <td>
                            @item.HighestPrice
                        </td>

                        <td class="text-center">
                            <ul class="table-controls row">
                                <li>
                                    <a asp-action="Detail" asp-route-id="@item.ProductId" class="col-6" data-toggle="tooltip" data-placement="top" title="مشاهده ی جزییات">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 text-success">
                                            <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

