@using Common
@model List<WebSite.EndPoint.Areas.Seller.Models.AuctionGetVM>
@{
    ViewData["Title"] = "کالا ها";
}
@if (ViewBag.Message != null)
{
    <div id="my-heading" class="alert alert-success text-center m-1">
        <p>@ViewBag.Message</p>
    </div>
}
<div class="m-5">
    <a asp-area="Seller" asp-controller="Product" asp-action="Create" type="button" class="btn btn-secondary">ثبت کالا جدید</a>
</div>
<div class="row">
    <div class="table-responsive m-5 col-10">
        <table class="table table-bordered table-hover table-condensed mb-4">
            <thead>
                <tr>
                    <th style="font-family: Vazir;">
                        نام کالا
                    </th>
                    <th style="font-family: Vazir;">
                        زمان شروع
                    </th>
                    <th style="font-family: Vazir;">
                        زمان پایان
                    </th>
                    <th style="font-family: Vazir;">
                        بالاترین پیشنهاد
                    </th>
                    @*<th>
                        جزییات
                    </th>
*@


                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>

                            @item.ProductName
                        </td>
                        <td>
                            @DateConvert.ConvertGregorianToPersian(item.StartDeadTime.Value)
                        </td>
                        <td>
                             @DateConvert.ConvertGregorianToPersian(item.EndDeadTime.Value) 
                        </td>
                        <td>
                            @item.HighestPrice
                        </td>

                        @*<td class="text-center">
                            <ul class="table-controls row">
                                <li>
                                    <a asp-action="ُAuctionBids" asp-route-id="@item.ProductId" class="btn btn-primary">
                                        مشاهده ی پیشنهاد ها
                                    </a>
                                </li>
                            </ul>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
    {

    <script>
        setTimeout(function () {
            document.getElementById("my-heading").style.display = "none";
        }, 4000); // مقدار 2000 برابر با دو ثانیه است.
    </script>

}
